body{
    background-color: lavenderblush;
}

h1{
    margin: 50px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: midnightblue;
}
.p1{
    text-align: center;
    font-size: 18px;
}
ul li{
    list-style: inside;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    clear: both;
}
#oregon{
    width: 400px;
    height: 400px;
    float: inline-start;
    float: inline-end;
    
}

p{
    text-align: center;
    padding: 10px;
}
figure{
    clear: both;
}
figcaption{
    font-family: serif;
    vertical-align: bottom;;
}
h2{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.column {
    display: inline-block;
    flex: 100%;
    padding: 5px;
  }
  
#venue{
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    height: 300px;
}
#Lizzo{
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    height: 400px;

}
#allisons {
    width: 400px;
    height: 400px;
}
#taylars {
    width: 1000px;
    height: 300px;
}
.figure4{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
#rogueriver{
    width: 300px;
    height: 300px;
    vertical-align: text-bottom;
}

h2{
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: midnightblue;
}

p{
 margin-top: 100 px;
 margin-right: 50 px;
 margin-left: 150 px;
 margin-bottom: 50 px;
 font-size: 16;
 font-family: Arial, Helvetica, sans-serif;
 line-height: 30px;
}
